#description {

	background: #c9d0ce;
    padding: 60px 70px;
    text-align: justify;
    margin-top: 60px;
    text-shadow: 0 1px #f3f3f3;
    width: 100%;
    display: flex;
    flex-direction: column;

}

#description p {

	max-width: 1100px;
    align-self: center;

}

#badges .column {

	padding: 60px;
    text-align: justify;
    color: #fff;

}

#badges h3 {

    font-family: 'Ubuntu Mono', monospace;
    text-align: center;
    padding-bottom: 35px;

}

#examples {

	align-self: center;
    width: 100%;
    max-width: 1100px;

}

.example {

	justify-content: center;
	align-items: center;
	margin: 20px 30px;
	background: #34363a;
	transition: filter .3s;

}

.example h3 {

	text-align: center;
	color: #e7e7e7;
    text-shadow: 0 3px #363636;
    margin-bottom: 24px;

}

.example .code {

	align-items: center;
    display: flex;
    flex-direction: column;
    padding: 0 !important;

}

.example .code a {

	padding: 10px 14px;
    background: #54585c;
    border-bottom: 2px solid #91efde;
    font-size: 16px;
    font-family: 'Ubuntu Mono';
    transition: border-bottom .2s, background .2s, color .1s;

}

.example .code a:hover {

    border-bottom: 2px solid #c9d0ce;
    background: #c9d0ce;
    color: black;

}

.example .code a:active,
.example .code a:focus {

	outline-offset: 3px;

}

.example .column {

	display: flex;
	flex-direction: column;
	flex: 1;
	padding: 40px 60px;
	max-width: 690px;

}

.plot {

	min-width: 340px;
    min-height: 340px;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    max-width: 560px !important;
    max-height: 350px;
    padding: 30px !important;
    padding-left: 0px !important;

}

.blur {

	filter: blur( 3px );

}